 @import "tailwindcss";

@theme {
  --color-brand: #1e40af;
  --bg-light: #f9fafb;
  --color-dark : #166534;  
}

/* Optional utility if you want a direct class name */
.bg-light {
  background-color: var(--bg-light);
}
